<div class="card bg-light mb-3">
    <div class="card-header"> <h5> {{ tittle }} </h5></div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink = "/alumnos">Volver</button>

        <form>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" class="form-control" [(ngModel)]="model.name">
                <div class="alert alert-danger" *ngIf="errors?.name"> {{ errors.name }}</div>
            </div>
            <div class="form-group">
                <label for="apellido">Apellidos</label>
                <input type="text" name="apellido" id="apellido" class="form-control" [(ngModel)]="model.lastName">
                <div class="alert alert-danger" *ngIf="errors?.lastName">{{ errors.lastName }}</div>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="text" name="email" id="email" class="form-control" [(ngModel)]="model.email">
                <div class="alert alert-danger" *ngIf="errors?.email"> {{ errors.email }}</div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="model.id ? edit() : save()">
                    {{ model.id ? 'Editar' : 'Crear' }}
                </button>
            </div>
        </form>
    </div>
</div>