<div class="card bg-light mb-3">
    <div class="card-header"> <h5> {{ tittle }} </h5></div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink = "/alumnos">Volver</button>

        <form>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="apellido">Apellidos</label>
                <input type="text" name="apellido" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>