
<div>
    <h4>
        Listado de estudiantes
    </h4>
</div>

<table class = "table table-hover table-striped" >
    <thead>
        <tr></tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Fecha ingreso</th>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students">
            <td>{{ student.studentId }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.createDate }}</td>
        </tr>
    </tbody>
</table>